.map{
    position: fixed;
    left: 50%;
    top: 0;
}

button{
    background-color: rgb(0, 0, 0);
    color: white;
}

iframe{
    transition-timing-function: ease-in;
    transition: 0.2s;
    transform: translateY(0);
    top: 0; left:0;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.contact{
    top: 250px;
    left: 500px;
    position: absolute;
    background-color: rgb(107, 107, 106, 0.7);
    line-height: 100%;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid rgb(82, 79, 79);
    border-radius: 1em;
    font-size: 24px;
    font-weight:bold;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}
label{
    background-size: 200px;
    background-color: rgb(63, 59, 59);
    width: auto;
}
.prout{
    background-image: url('1.jpg');
    height: 800px;
    width: 100%;
}
.row{
    align-content: center;
}

@font-face { font-family: font; src: url('font/font.otf'); } 

@media only screen and (max-width: 950px){
    .contact{
        left: 100px;
    }